

/* Burger menu start */

  .navhead {
      background-color: #414141;
  }

  .norqilogo1 {
    z-index: 1;
    padding-left: 3%;
    padding-top: 1.5%;
    width: 10%;
  }

  .burgerbox {
    z-index: 1;
    background-color: #414141;
    background-size: cover;
  }

  .navbar {
    width: 270px;
    height: 100%;
    background-color: #414141;
    position: fixed;
    top: 0;
    right: -270px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
    z-index: 2;
  }

  .change{
    right: 0;
  }

  .burgermenu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 4.5%;
    right: 6.5%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .linje {
    width: 100%;
    height: 3px;
    background-color:#50AF31;
    transition: all 0.8s;
  }

  .change .linje-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
  }

  .change .linje-2 {
    opacity: 0;
  }

  .change .linje-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
  }

  .nav-list {
    text-align: center;
  }

  .nav-punkt {
    list-style: none;
    margin: 25px;
  }

  .nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #E4F0F8;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
  }

  .nav-link::before,
  .nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #50AF31;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
  }

  .nav-link::after {
    bottom: 0;
    transform-origin: right;
  }

  .nav-link::before {
    top: 0;
    transform-origin: left;
  }

  .nav-link:hover::before,
  .nav-link:hover::after {
    transform: scaleX(1);
  }

  /* Burger menu slut */

  /* Header start */

  .header-tekst1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 25% 20px 25%;
    text-align: center;
  }

  .header-tekst2 {
    font-family: 'Quicksand', sans-serif;
    padding: 0px 5% 0px 5%;
    color: #50AF31;
    text-align: center;
  }

  .header-tekst3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 15% 20px 15%;
    text-align: center;
  }

  #demo {
    font-family: 'Quicksand', sans-serif;
    padding: 0px 5% 0px 5%;
    color: #50AF31;
    text-align: center;
  }

  /* Header slut */

  /* Visuelle instruktioner start */

  .body-vi {
    background-color: #E2E2E2;

  }

  .overskrift1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .kipgryde1 {
    border-color: #FFFFFF;
    border-radius: 40px;
    border-style: solid;
    background-color: #FFFFFF;
  }

  video {
    object-fit: contain;
  }

  .kipgrydevideo1 {
    width: 80%;
    padding: 5% 10% 0 10%;
    position: block;
    z-index: 1;
  }

  .kipgrydeoverskrift {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;

  }

  .tekstvideo1 {
    text-align: center;
    padding: 5% 5% 5% 5%;
    font-family: 'Quicksand', sans-serif;
  }

  @media only screen and (min-width: 1300px){
      .gridvid{
        width: 100%;
        justify-content: center;
          display: grid;
          grid-template-areas:
            "vid1  vid2  vid3  vid4"
      }

      .mainvid1 {
        grid-area: vid1;
        margin: 5px;
      }

      .mainvid2 {
        grid-area: vid2;
        margin: 5px;
      }

      .mainvid3 {
        grid-area: vid3;
        margin: 5px;
      }

      .mainvid4 {
        grid-area: vid4;
        margin: 5px;
      }
      .kipgryde1 {
        width: 300px;
        height: 450px;
      }


      .navhead {
          background-color: #white;
      }
  }
  /* Visuelle intruktioner slut */

  /* Footer start */

  footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
    "footer footer";
    background-color: #5cb71d;
  }

  .footerdiv {
    padding-left: 10%;
  }

  .kontakttitel {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
  }

  .tekst {
    color: #FFFFFF;
  }

  .some {
    width: 70%;
    padding: 2.5% 0 2.5% 10%;
  }
  /* Footer slut */


  /* Styletile start */

  /*farver start */

  .farvekoder

  .green {
    background-color: #50AF31;
    width: 50%;
    height: 110px;
    border-radius: 10px;
    float: left;
  }

  .greentitel {
    text-align: center;
    color: #FFFFFF;
  }

  .greencopy {
    text-align: center;
    color: #FFFFFF;
  }

  .sort {
    background-color: #414141;
    width: 50%;
    height: 110px;
    border-radius: 10px;
    float: right;
  }

  .sorttitel {
    text-align: center;
    color: #FFFFFF;
  }

  .sortcopy {
    text-align: center;
    color: #FFFFFF;
  }

  .grey {
    background-color: #E4F0F8;
    width: 50%;
    height: 110px;
    border-radius: 10px;
    float: left;
  }

  .greytitel {
    text-align: center;
    color: black;
  }

  .greycopy {
    text-align: center;
    color: black;
  }

  .hvid {
    background-color: #FFFFFF;
    width: 50%;
    height: 110px;
    border-radius: 10px;
    float: right;
  }

  .hvidtitel {
    text-align: center;
    color: black;
  }

  .hvidcopy {
    text-align: center;
    color: black;
  }

  .green {
    background-color: #50AF31;
    width: 50%;
    height: 110px;
    border-radius: 10px;
    float: left;
  }

  .greentitel {
    text-align: center;
    color: #FFFFFF;
  }

  .greencopy {
    text-align: center;
    color: #FFFFFF;
  }

  .sort {
    background-color: #414141;
    width: 50%;
    height: 110px;
    border-radius: 10px;
    float: right;
  }

  .sorttitel {
    text-align: center;
    color: #FFFFFF;
  }

  .sortcopy {
    text-align: center;
    color: #FFFFFF;
  }

  .andengreen {
    background-color: #5cb71d;
    width: 50%;
    height: 110px;
    border-radius: 10px;
    float: left;
  }

  .andengreentitel {
    text-align: center;
    color: #FFFFFF;
  }

  .andengreencopy {
    text-align: center;
    color: #FFFFFF;
  }

  .darkgreen {
    background-color: green;
    width: 50%;
    height: 110px;
    border-radius: 10px;
    float: right;
  }

  .darkgreentitel {
    text-align: center;
    color: #FFFFFF;
  }

  .darkgreencopy {
    text-align: center;
    color: #FFFFFF;
  }

  .orange {
    background-color: #f08c00;
    width: 50%;
    height: 110px;
    border-radius: 10px;
    display: inline-block;
  }

  .orangetitel {
    text-align: center;
    color: #FFFFFF;
  }

  .orangecopy {
    text-align: center;
    color: #FFFFFF;
  }

  /*farver slut */


  /*Typografi start */
  .tekstoverskrift {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
  }

  .normaltekst {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }

/*Typografi slut*/

/* Logo start */

  .norqilogo2 {
    width: 60%;
  }

/* Logo slut */



  /* Styletile slut */
